In [1]:
from sklearn.datasets import load_iris  #load iris dataset from scikit learn library
import pandas as pd  #load pandas library

In [2]:
data = load_iris() #load data from iris dataset

In [3]:
df = pd.DataFrame(data['data'],columns=data['feature_names']) #convert data into dataframe

In [4]:
df['species'] = data['target'] #insert species column as label of data

In [5]:
df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2        0
1                4.9               3.0  ...               0.2        0
2                4.7               3.2  ...               0.2        0
3                4.6               3.1  ...               0.2        0
4                5.0               3.6  ...               0.2        0

[5 rows x 5 columns]

In [6]:
df.tail()

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
145                6.7               3.0  ...               2.3        2
146                6.3               2.5  ...               1.9        2
147                6.5               3.0  ...               2.0        2
148                6.2               3.4  ...               2.3        2
149                5.9               3.0  ...               1.8        2

[5 rows x 5 columns]

In [7]:
df.iloc[0] #0 index data

sepal length (cm)    5.1
sepal width (cm)     3.5
petal length (cm)    1.4
petal width (cm)     0.2
species              0.0
Name: 0, dtype: float64

In [8]:
df.iloc[:5,:] #slicing

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2        0
1                4.9               3.0  ...               0.2        0
2                4.7               3.2  ...               0.2        0
3                4.6               3.1  ...               0.2        0
4                5.0               3.6  ...               0.2        0

[5 rows x 5 columns]

In [9]:
df.iloc[:5,:2]

   sepal length (cm)  sepal width (cm)
0                5.1               3.5
1                4.9               3.0
2                4.7               3.2
3                4.6               3.1
4                5.0               3.6

In [10]:
df.iloc[-5:-2,:2] #negative index starts from reverse, 149th rows consider as -1

     sepal length (cm)  sepal width (cm)
145                6.7               3.0
146                6.3               2.5
147                6.5               3.0

In [11]:
df.describe() #some statistics about dataframe

       sepal length (cm)  sepal width (cm)  ...  petal width (cm)     species
count         150.000000        150.000000  ...        150.000000  150.000000
mean            5.843333          3.057333  ...          1.199333    1.000000
std             0.828066          0.435866  ...          0.762238    0.819232
min             4.300000          2.000000  ...          0.100000    0.000000
25%             5.100000          2.800000  ...          0.300000    0.000000
50%             5.800000          3.000000  ...          1.300000    1.000000
75%             6.400000          3.300000  ...          1.800000    2.000000
max             7.900000          4.400000  ...          2.500000    2.000000

[8 rows x 5 columns]

In [12]:
df.info() #information about dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   species            150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [13]:
#splitting data from dataframe
print(df.iloc[148])
x = df.iloc[-2:-1,:-2].values

sepal length (cm)    6.2
sepal width (cm)     3.4
petal length (cm)    5.4
petal width (cm)     2.3
species              2.0
Name: 148, dtype: float64

In [14]:
x

array([[6.2, 3.4, 5.4]])

In [15]:
df.sort_index() #sort on the basis of index

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                  5.1               3.5  ...               0.2        0
1                  4.9               3.0  ...               0.2        0
2                  4.7               3.2  ...               0.2        0
3                  4.6               3.1  ...               0.2        0
4                  5.0               3.6  ...               0.2        0
..                 ...               ...  ...               ...      ...
145                6.7               3.0  ...               2.3        2
146                6.3               2.5  ...               1.9        2
147                6.5               3.0  ...               2.0        2
148                6.2               3.4  ...               2.3        2
149                5.9               3.0  ...               1.8        2

[150 rows x 5 columns]

In [16]:
pd.melt(df)

              variable  value
0    sepal length (cm)    5.1
1    sepal length (cm)    4.9
2    sepal length (cm)    4.7
3    sepal length (cm)    4.6
4    sepal length (cm)    5.0
..                 ...    ...
745            species    2.0
746            species    2.0
747            species    2.0
748            species    2.0
749            species    2.0

[750 rows x 2 columns]